<table>
  <thead><tr><th>id</th><th>Name</th><th>Page</th><th>Special</th></tr></thead>
  <tbody>
  <tr><td colspan="4"><center><i>As regular model</i></center></td></tr>
    {{#each @text.entries as |entry|}}
  <tr>
    <td>{{entry.id}}</td>
  	{{#each this.columns as |column|}}
  	<td>{{table-cell-ch validateProperty=(action this.beTrue) changeset=entry column=column}}</td>
		{{/each}}
   </tr>
    {{/each}}
   <tr><td colspan="4"><center><i>As changeset</i></center></td></tr>
  {{#each @text.entries as |entry|}}
  {{#with (changeset entry this.EntryValidations) as |changeset|}}
  <tr>
    <td>{{changeset.id}}</td>
  	{{#each this.columns as |column|}}
  	<td>{{table-cell-ch validateProperty=(action this.validateProperty changeset column) changeset=changeset column=column}}</td>
		{{/each}}
   </tr>
   {{/with}}
    {{/each}}
  </tbody>
  </table>

