<div id="floating-box" class="md:w-1/2 w-full">
  <Card class="w-full">
    <Toolbar @heading="Wandertext"></Toolbar>
    <div class="card-content opacity-75">
      {{yield}}
    </div>
  </Card>
</div>
