<div id="index-box">
  <h2>
    Welcome to Wandertext.
  </h2>

  <p class="lead">Create and share semantically rich geospatial datasets.</p>

  <div>
  {{#paper-button primary=true raised=true href=(href-to "view.text" "nightwood-1936")}}
    <i>Nightwood</i>
  {{/paper-button}}  
  &nbsp;
  {{#paper-button primary=true raised=true href=(href-to "view.text" "baburnama-1530")}}
    <i>Bāburnāma</i>
  {{/paper-button}}  
  &nbsp;
  {{#paper-button primary=true raised=true href=(href-to "view.text" "lcaaj")}}
    LCAAJ
  {{/paper-button}}  
  </div>
  <div style="max-width: 50%; margin-top: 1rem;">
    <img style="max-width: 100%; height: auto;" src="/assets/cul-logo.png" alt="Columbia University Libraries logo" >
  </div>

</div>
