<div id="index-box">
  <h2>
    Welcome to Wandertext.
  </h2>

  {{#if this.session.isAuthenticated}}
    <Button @onClick=this.logout>
      Logout
    </Button>
  {{else}}
    <Button @onClick=this.login>
      Login
    </Button>
  {{/if}}

  <p class="lead">Create and share semantically rich geospatial datasets.</p>

  <div>
  {{#link-to "view.text" "nightwood-1936" tagName="button" class="btn btn-primary"}}
    <i>Nightwood</i>
  {{/link-to}}  
  &nbsp;
  {{#link-to "view.text" "baburnama-1530" tagName="button" class="btn btn-primary"}}
    <i>Bāburnāma</i>
  {{/link-to}}  
  &nbsp;
  {{#link-to "view.text" "lcaaj" tagName="button" class="btn btn-primary"}}
    LCAAJ
  {{/link-to}}  
  </div>
  <div style="max-width: 50%; margin-top: 1rem;">
    <img style="max-width: 100%; height: auto;" src="/assets/cul-logo.png" alt="Columbia University Libraries logo" >
  </div>

</div>
