<div class="ember-inline-editable">
  {{#if this.valueIsEmpty}}
    <span class="gray-text">
      {{@placeholder}}
    </span>
  {{else}}
    <span onclick={{@onEdit}}>{{@value}}</span>
  {{/if}}
</div>
