{{#paper-sidenav class="md-whiteframe-z2" name="left" position="left" open=sidebarOpen lockedOpen=false onToggle=(action (mut sidebarOpen)) }}
  {{#paper-toolbar accent=true}}
    <PaperToolbarTools>
      <h2 class="dark-blue">
        Wandertext Navigation
      </h2>
    </PaperToolbarTools>
  {{/paper-toolbar}}
  <SidenavContent>
    {{yield}}
  </SidenavContent>
  {{paper-divider inset=true}}
  <SidenavFooter />
{{/paper-sidenav}}
