{{#modal-dialog
  targetAttachment="center"
  translucentOverlay=true
}}
  <h2 class="text-2xl">Loading {{@whatsLoading}}</h2>
  {{svg-jar "circle-o-notch" class="mx-auto text-primary-500 fill-current rotate" width="48" height="48"}}
{{/modal-dialog}}
