<div class="sidenav">
    <PaperToolbarTools>
      <h2 class="dark-blue">
        Wandertext Navigation
      </h2>
    </PaperToolbarTools>
  <SidenavContent>
    {{yield}}
  </SidenavContent>
  <SidenavFooter />
</div>
