<div id="text-entry-list" class="h-64 flex-grow text-sm">
  <table>
    <thead>
      <tr>
        {{#each this.columns as |column|}}
          <th>
            {{#component "table-column-header" columnContent=column}}
              {{column.label}}
            {{/component}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this.entries as |entry|}}
        <tr>
          {{#each this.columns as |column|}}
            <td>
              {{component column.cellComponent 
                cellContent=(get entry column.valuePath)
                entry=entry
                property=column.valuePath
                showModal=this.showModal
              }}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if this.isShowingModal}}
  {{#modal-dialog
    onClose=this.toggleModal
    targetAttachment="center"
    translucentOverlay=true
    }}
    place: {{this.modalPlace.properties.name}}
  {{/modal-dialog}}
{{/if}}

