<div id="text-form">
  <p><button id="create-text-button" {{action this.createText}}>Create</button></p>
  <p>{{input id="input-name" type="text" value=this.newText.name placeholder="Name"}}</p>
  <p>{{input id="input-slug" type="text" value=this.newText.slug placeholder="Slug"}}</p>
  <p>{{input id="input-entrySort" type="text" value=this.newText.entrySort placeholder="entrySort"}}</p>
</div>

  
