<div id="text-list">
{{#paper-list}}
  {{#each @texts as |text|}}
    {{#if text.name}}
      {{#paper-item class="md-3-line"}}
        <TextListing @text={{text}} />
      {{/paper-item}}
    {{/if}}
  {{/each}}
{{/paper-list}}
</div>

