<div id="text-entry-list" class="h-64 flex-grow text-sm">
  {{log this.columns }}
  <table>
    <thead>
      <tr>
        {{#each this.columns as |column|}}
          <th>
            {{#component "table-column-header" columnContent=column}}
              {{column.label}}
            {{/component}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this.entries as |entry|}}
        <tr>
          {{#each this.columns as |column|}}
            <TableCell
              @entry=entry
              @column=column
              showModal=this.showModal
            /> 
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if this.isShowingModal}}
  {{#modal-dialog
    onClose=this.toggleModal
    targetAttachment="center"
    translucentOverlay=true
    }}
    <PlaceModal @place={{this.modalPlace}} />
  {{/modal-dialog}}
{{/if}}

