<nav class="toolbar">
  <h2>{{@heading}}</h2>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    {{#if @workbench}}
        <div class="text-sm">
        {{#link-to "workbench.texts" class="block mt-4 lg:inline-block lg:mt-0 mr-4 btn btn-secondary"}}Texts{{/link-to}}
        {{#link-to "workbench.places" class="block mt-4 lg:inline-block lg:mt-0 mr-4 btn btn-secondary"}}Places{{/link-to}}
        </div>
    {{/if}}
    <WawButton @click={{this.handleClick}} />
  </div>
</nav>
