<div id="zoom-control" class="zoom-control visible sm:invisible md:visible">
  <div style="margin-bottom: 16px;">
    {{#paper-button raised=true mini=true primary=true iconButton=true onClick=(action this.zoomIn) }}
      {{paper-icon "zoom_in"}}
    {{/paper-button}}
  </div>
  <div>
    {{#paper-button raised=true mini=true primary=true iconButton=true onClick=(action this.zoomOut)}}
      {{paper-icon "zoom_out"}}
    {{/paper-button}}
  </div>
</div>

