@import "fonts.css";

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";

.leaflet-div-icon {
  background: none;
  border: none;
}

.dot-marker {
  fill-opacity: 0.8;
  stroke-width: 6;
  fill: #b9d9eb;
  stroke: #0041cc;
}

.selected-dot {
  fill-opacity: 1.0;
  stroke-width: 6;
  fill: #b9d9eb;
  stroke: #002880;
}


body {
  background: #b9d9eb;
  background-image: linear-gradient(#a2cae2, #dcecf5);
}

p > a {
  @apply .bg-gray-300 .px-1 .text-primary-500
}

p > a:hover {
  @apply .bg-gray-500
}
