@import "./colors";
@import "./fonts";
@import "ember-paper";
@import "ember-paper-expansion-panel";
@import "./links";
@import "./leaflet";
@import "./the-map";
@import "./zoom-control";
@import "./floating-box";
@import "./svg";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #b9d9eb;
}
