#floating-box {
  position: absolute;
  z-index: 40;
  min-width: 50%;
  max-height: 100%;
  overflow-y: hidden;

  .md-button:not([disabled]):hover {
    background-color: RGBA(var(--accent-700), 0.2);
  }

  md-card-content {
    padding: 0;

    #text-detail, #index-box {
      // overflow-y: auto; 
      overflow-y: overlay; 
      overflow-x: visible;
      margin: 1rem 0 1rem 1rem;
      padding: 0.25rem 1.25rem 0.25rem 0.25rem; 
      min-width: calc(100% - 2.5rem);
      max-height: 100%; // needed to get scrolling to work appropriately.

      #overview-content {
        p {
          margin: 0px;
          margin-bottom: 1em;
        }
      }

    }

    #index-box {
      h2 {
        font-family: "Trajan Pro", "Cinzel", serif;
      }
    }

    .floating-box-spinner {
      min-height: 40%;
    }

  }

}


