@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

$font-family: "Adobe Garamond", "EB Garamond", "Garamond", serif;
$font-family-monospace: "Source Code Pro", Monaco, monospace;

.nastaliq {
  font-family: 'IranNastaliq', 'Urdu Emad Nastaleeq', 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Awami Nastaliq', 'Awami Nastaliq Beta3', 'Awami Nastaliq Beta2', 'Awami Nastaliq Beta1', 'Urdu Typesetting', 'Jameel Noori Nastaleeq', 'Hussaini Nastaleeq', 'AlQalam Taj Nastaleeq', 'Nafees Nastaleeq', 'Nafees Nastaleeq v1.01', 'Pak Nastaleeq', 'PDMS_Jauhar', 'Alvi Lahori Nastaleeq';
}
