<h2>
  Welcome to Wandertext.
</h2>

<p class="lead">Create and share semantically rich geospatial datasets.</p>

{{#link-to "text" "nightwood" class="btn btn-primary" role="button"}}
  Go to <i>Nightwood</i>
{{/link-to}}  
&nbsp;
{{#link-to "text" "baburnama" class="btn btn-primary" role="button"}}
  Go to <i>Bāburnāmā</i>
{{/link-to}}  
