<h2>
  Welcome to Wandertext.
</h2>

<p class="lead">Create and share semantically rich geospatial datasets.</p>

{{#link-to "text" "nightwood" }}
  <button class="btn btn-primary">Go to <i>Nightwood</i></button>
{{/link-to}}  
{{#link-to "text" "baburnama" }}
<button class="btn btn-primary">Go to <i>Bāburnāmā</i></button>
{{/link-to}}  
