<h2>
  Welcome to Wandertext.
</h2>

<p class="lead">Create and share semantically rich geospatial datasets.</p>

<button class="btn btn-primary">Go to <i>Nightwood</i></button>
<button class="btn btn-primary">Go to <i>Bāburnāmā</i></button>
