@import "./fonts";
@import "./bootstrap";
@import "./the-map";
@import "./floating-box";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #ddcc00;
}

#main-header {
  margin: 0 2rem 0 1rem;
  font-family: "Herr Von Muellerhoff", cursive;
}
