@import "./colors";
@import "./fonts";
@import "ember-paper";
@import "./leaflet";
@import "./the-map";
@import "./zoom-control";
@import "./floating-box";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #ddcc00;
}
