#floating-box {
  position: absolute;
  z-index: 40;
  min-width: 50%;
  overflow-y: auto;

  .md-button:not([disabled]):hover {
    background-color: RGBA(var(--accent-700), 0.2);
  }

  .text-detail {
    overflow-y: auto; 
    padding: 0.25rem; 
    min-width: calc(100% - 0.5rem);

    #overview-content {
      p {
        margin: 0px;
        margin-bottom: 1em;
      }
    }

  }

}


