#floating-box {
  position: absolute;
  z-index: 40;
  min-width: 50%;

  .md-button:not([disabled]):hover {
    background-color: RGBA(var(--accent-700), 0.2);
  }

  #overview-content {
    p {
      margin: 0px;
      margin-bottom: 1em;
    }
  }

}


