#the-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .leaflet-div-icon {
    background: none;
    border: none;
  }

  path.dot-marker {
    fill: paper-color($primary, '500');
    fill-opacity: 0.2;
    stroke: paper-color($primary, '400');
    stroke-width: 6;
  }
}
