{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        {{{this.card.title}}}
      </h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#card.content class="layout-row layout-align-space-between"}}
    {{yield}}
  {{/card.content}}
{{/paper-card}}
