<div id="floating-box" class="ml-3 mt-3 card w-50">
  <CardHeader />
  <div id="card-content" class="collapse" aria-labelledby="card-header">
      <div class="card-body">
        <h3>I am FloatingBox</h3>
        {{yield}}
      </div>
  </div>
</div>
