<button 
  role="button" 
  class="absolute p-4 pr-4 top-0 right-0" 
  type="button" 
  {{on "click" @onClick}}
  aria-label={{@ariaLabel}}
  >
  <Icon @icon="close" role="presentation" />
</button>

