<header class="header">
  <Icon @icon="caret-left" />
  <Icon @icon={{@icon}} />
  <button 
    {{on "click" this.handleMenuClick}}
    type="button"
    >
    <Icon @icon="menu" @role="button" />
  </button>
</header>
