<div ...attributes>
  <span>
    {{svg-jar this.icon 
      title=this.title 
      desc=this.desc 
      class="inline fill-current" 
      role=this.role
      width="24px"}}
  </span>
  <span class="sr-only">{{this.title}}</span>
</div>
