<article class="md:bg-white h-full">
  <header>
    <InfoBox @model={{@model}}>
      <InfoBox::IconBox>
        <button type="button">
          <Icon @role="button" @icon="map"/>
        </button>
          <Icon @icon="caret-right" />
      </InfoBox::IconBox>
    </InfoBox>
  </header>

  {{#if this.markdownBlurb}}
    <section class="text-xl px-2" data-test-markdown-blurb>
      {{markdown-to-html this.markdownBlurb}}
    </section>
  {{/if}}

  <section class="px-2">
    <h2 class="text-2xl font-semibold"><Icon @icon="contributors" /> Contributors</h2>
  </section>
  <section>
    <h2 class="text-2xl font-semibold"><Icon @icon="stats" /> Statistics</h2>
  </section>
</article>
