{{! @type="text"}}
<li class="list-item">
  <InfoBox @model={{@model}} @linkToRoute={{@linkToRoute}}>
    <InfoBox::IconBox>
      <Icon @icon="map" @action={{this.showmap}}/>
      <Icon @icon="caret-down" />
    </InfoBox::IconBox>
  </InfoBox>
</li>

