<aside class="w-1/2 menu">
  <header>
    <h2>Wandertext</h2>
  </header>

  <ul>
    <Menu::Item @icon="texts">
      Texts
    </Menu::Item>
    <Menu::Item @icon="places">
      Places
    </Menu::Item>
  </ul>

  <footer>
    © 2021, people of Earth
  </footer>
</aside>
