<aside class="p-4 w-1/2 menu">
  <header>
    <h2>Wandertext <Icon @icon="logo" /></h2>
  </header>

  <ul role="navigation">
    {{#each this.menuItems as |menuItem|}}
      <Menu::Item @route={{menuItem.route}} @icon={{menuItem.slug}}>
        {{menuItem.text}}
      </Menu::Item>
    {{/each}}
  </ul>

  <footer>
    © 2021, people of Earth
  </footer>
</aside>
