<form href="#"
  {{on "submit" this.createRecord}}
>
  <button class="create-a-place" type="button">Create a Place</button>
  <Input @id="name" @type="text"
    @value={{this.name}} name="name" 
    />
  <button 
    class="submit" type="submit"
    >Submit</button>
</form>
