<div id="zoom-control" class="zoom-control visible sm:invisible md:visible">
  <div class="mb-4">
    <Button @onClick={{this.zoomIn}}>
      {{svg-jar "plus-circle"}}
    </Button>
  </div>
  <div>
    <Button @onClick={{this.zoomOut}}>
      {{svg-jar "minus-circle"}}
    </Button>
  </div>
</div>

