.modal-map {
  height: 50vh;
  width: 100%;
}

.modal-map .leaflet-zoom-box { z-index: 58; }
.modal-map .leaflet-pane         { z-index: 53; }
.modal-map .leaflet-tile-pane    { z-index: 52; }
.modal-map .leaflet-overlay-pane { z-index: 53; }
.modal-map .leaflet-shadow-pane  { z-index: 54; }
.modal-map .leaflet-marker-pane  { z-index: 55; }
.modal-map .leaflet-tooltip-pane   { z-index: 56; }
.modal-map .leaflet-popup-pane   { z-index: 57; }
.modal-map .leaflet-map-pane canvas { z-index: 51; }
.modal-map .leaflet-map-pane svg    { z-index: 52; }
.modal-map .leaflet-control { z-index: 58; }
.modal-map .leaflet-top, .modal-map .leaflet-bottom { z-index: 60;}
