<Modal @close={{@close}} @header="Wandertext">
  <p>This application is currently under heavy development.</p>

  <p>You can follow along with the progress every Tuesday afternoon at 3pm NYC time <a class="underline" href="https://www.youtube.com/channel/UCLOUh6s8E2FYAVAsJg3lgoA/live">on the CUL Studio YouTube channel</a>.</p>

  <p>Additionally, you can follow along with the code <a class="underline" href="http://github.com/wandertext/wandertext">on GitHub</a>.</p>

</Modal>
