<h2>
  Welcome to Wandertext.
</h2>

<p class="lead">Create and share semantically rich geospatial datasets.</p>

{{#paper-button primary=true raised=true href=(href-to "text" "nightwood-1936")}}
  <i>Nightwood</i>
{{/paper-button}}  
&nbsp;
{{#paper-button primary=true raised=true href=(href-to "text" "baburnama-1530")}}
  <i>Bāburnāma</i>
{{/paper-button}}  
&nbsp;
{{#paper-button primary=true raised=true href=(href-to "text" "lcaaj")}}
  LCAAJ
{{/paper-button}}  
