<h2>
  Welcome to Wandertext.
</h2>

<p class="lead">Create and share semantically rich geospatial datasets.</p>

{{#link-to "text" "nightwood-1936" class="btn btn-primary" role="button"}}
  <i>Nightwood</i>
{{/link-to}}  
&nbsp;
{{#link-to "text" "the-baburnama-1530" class="btn btn-primary" role="button"}}
  <i>Bāburnāmā</i>
{{/link-to}}  
&nbsp;
{{#link-to "text" "lcaaj" class="btn btn-primary" role="button"}}
  LCAAJ
{{/link-to}}  
