<div id="the-card-header" class="card-header d-flex justify-content-end">
  <h1 id="main-header" class="pt-3">Wandertext</h1>
      <img src="{{ rootURL }}assets/logo/{{ this.logo.svg }}" style="width: 2.5rem; height: 2.5rem;">
</div>

