<div id="the-card-header" class="card-header d-flex justify-content-end">
  <h1>Wandertext</h1>
    {{#bs-button type="secondary" onClick=(action @onClick) class="ml-3"}}
      <img src="{{ rootURL }}assets/logo/waw.svg" class="" style="filter: invert(100); width: 2.5rem; height: 2.5rem;">
    {{/bs-button}}
</div>

