<section class="overflow-hidden flex flex-row">
  <div class="flex-grow entries-area">
    <EntriesControls>
      {{#link-to "workbench.texts.text.entries.new" this.model}}
        <Button>New Entry</Button>
      {{/link-to}}
    </EntriesControls>

    {{outlet}}

    <EntriesGrid @text={{ this.model }} />
  </div>
  <PlaceDrawer>
    <p>place-drawer</p>
  </PlaceDrawer>
</section>
