<section class="overflow-auto">
  <EntriesControls>
    {{#link-to "workbench.texts.text.entries.new" this.model}}
      <Button>New Entry</Button>
    {{/link-to}}
    <Button>Some other control</Button>
  </EntriesControls>

  {{outlet}}

  <EntryGrid @text={{ this.model }} />
</section>
