{{#paper-content padding=true}}
  {{#paper-list}}
    {{#each this.sidenavList as |item|}}
      {{#paper-item class="md-2-line" href=(href-to item.route)}}
        {{paper-icon item.icon}}
        <p>{{item.text}}</p>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
  {{yield}}
{{/paper-content}}
