<div class="flex flex-row">
  <h2>{{text-title this.model }}</h2>
  <div class="ml-4">
    {{#link-to "workbench.texts.text.entries" this.model }}
      <Button>Entries</Button>
    {{/link-to}}
  </div>
</div>
<div>
  {{#if this.model.markdownBlurb }}
    {{markdown-to-html this.model.markdownBlurb }}
  {{else}}
    _non_ markdown blurb
  {{/if}}
</div>
{{outlet}}
