<div id="main" 
  class="m-4 w-screen h-screen overflow-hidden" 
  tabindex="-1" role="main">
  <Card @classes="h-screen">
    <Toolbar @heading="Wandertext"></Toolbar>
    <CardContent>
      <div class="max-w-3xl mx-auto">
      <h2>About Wandertext.</h2>

      <p class="lead">Wandertext is a web application that lets contributors
        create and share semantically rich geospatial datasets. It is primarily
        aimed at researchers in the social sciences and humanities who have
        collections of complex, human-mediated data that nevertheless have a
        significant spatial component and turning the places and spaces in the
        data into linked entities that can be visualized and mapped.</p>

      <p>Wandertext and its ancestors have been used in English literature
        courses at New York University and history courses at Columbia
        University.</p> 
      
      <p>As the application matures towards version 1.0, we will
      be eager to add to the list of datasets featured on day one-point-oh. If
      you would like to learn more about the application or want to offer a
      candidate dataset during our beta period, please contact Moacir P. de Sá
      Pereira, by emailing <code>moacir.p@columbia.edu</code>.</p>

      <h3>Use Cases</h3>

      <p>Wandertext grew out of the desire to build datasets out of places
      mentioned in novels. As it has matured, the potential has expanded as
      well, making more and more geospatial data fall under its purview.</p>

      <p>In short, Wandertext takes a spreadsheet that has a geospatial
        component and helps the researcher to turn it into a richer dataset,
        where the geospatiality is more than toponyms of coordinates.
        Furthermore, it links the places in one dataset with places in another,
        allowing researchers to discover related data within the system. In the
        future, we hope to link with the <a href="http://whgazetteer.org"
        target="_blank">World Historical Gazetteer</a> and further enhance the 
        discoverability of Wandertext data.</p>

      <p>So, as the original was used for places in novels, Wandertext can be
        also be used to help spatially visualize a collection of field
        recordings in linguistics or ethnomusicology. It can track a network of
        correspondence. It can sketch movement over time. The limitations of
        the “text” part of the name, then, reflect only those imposed by the
        researchers who want to use Wandertext.</p>

      <h3>History</h3>

      <p>Wandertext began as “<a href="https://github.com/muziejus/usa-atlas"
                                 target="_blank">usa-atlas</a>,” a project begun by <a href="http://moacir.com" target="_blank">Moacir P. de Sá Pereira</a> in 2013 to build a
        literary atlas of John Dos Passos’s work <a
        href="https://en.wikipedia.org/wiki/U.S.A._(trilogy)"
        target="_blank"><i>U.S.A.</i></a> Development was suspended in 2015,
      paving the way, instead, for Wandertext’s second incarnation, NYWalker.</p>

      <p>NYWalker was built when Sá Pereira moved to be part of the <a href="https://as.nyu.edu/english.html" target="_blank">English Department at NYU</a>. In consultation with <a href="http://as.nyu.edu/english/directory.thomas-augst.html" target="_blank">Professor Tom Augst</a>, the project was hosted by the <a href="https://wp.nyu.edu/fas-edtech" target="_blank">FAS Office of Educational Technology</a> at NYU and was a featured project as both part of the <a href="http://newyorkscapes.org" target="_blank">NewYorkScapes</a> research collective and <a href="http://xpmethod.plaintext.in" target="_blank">Columbia’s Group for Experimental Methods in Humanistic Research</a>.</p>

      <iframe class="mx-auto my-4" width="560" height="315" src="https://www.youtube.com/embed/nOCTXdO4_EM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p>Two English courses at NYU actively used NYWalker. The spring 2016 course “Writing New York,” taught by Sá Pereira and Augst, had students build datasets for Thomas Pynchon’s <i>Bleeding Edge</i>, Gary Shteyngart’s <i>Super Sad True Love Story</i>, and Ben Lerner’s <i>10:04</i>. In the same semester, students in Sá Pereira’s digital literary studies course, “<a href="https://github.com/muziejus/the-map-of-the-city-that-is-this-novel" target="_blank">The Map of the City that Is this Novel</a>,” provided two more datasets, for Rachel Kushner’s <i>The Flamethrowers</i> and for Edith Wharton’s <i>The Age of Innocence</i>. Afterward, researchers slowly added to the dataset.</p>

      <p><a href="https://history.columbia.edu/faculty/manan-ahmed/" target="_blank">Professor Manan Ahmed</a> also used NYWalker as part of a larger project on building a gazetteer of medieval South Asia. To that end, students in Ahmed’s 2018 course “<a href="https://github.com/mananahmed/syllabi/blob/4d478703f6e90549a00d47e290dfc480ccbb5bb0/mughalworld.md" target="_blank">The Worlds of Mughal India</a>” helped construct a dataset on the 1530 memoir <i>Bāburnāma</i>, by Bābur, the first Mughal Emperor.</p>

      <p>In 2018, NYWalker was shuttered, but the project was reborn as Wandertext, with a broader scope and now sponsored by <a href="http://library.columbia.edu" target="_blank">Columbia University Libraries</a>. Wandertext’s first use in a classroom setting will be for Ahmed’s 2019 iteration of “The Worlds of Mughal India.”</p>

      <h3>Technology</h3>

      <p>
        “Usa-atlas” was an <a href="http://emberjs.com" target="_blank">Ember 1.3</a> application with a <a href="http://rubyonrails.org" target="_blank">Ruby on Rails 4</a> backend speaking to a <a href="http://postgresql" target="_blank">PostgreSQL</a> database.
      </p>

      <p>
        NYWalker replaced the backend and frontend with <a href="http://sinatrarb.com" target="_blank">Sinatra</a>, speaking again to a Postgres database.
      </p>

      <p>Wandertext, in the meantime, returns to Ember for the frontend and now
        features <a href="http://expressjs.com" target="_blank">Express</a>
        backend. The database is a <a
          href="https://firebase.google.com/docs/firestore"
          target="_blank">Cloud Firestore</a> database.</p>

      <p>As the project nears version 1.0, the backend will will provide <a href="http://jsonapi.org" target="_blank">JSON:API</a> and <a href="http://graphql.org" target="_blank">GraphQL</a> API access.</p>

      <div class="w-1/2 mt-4">
        <img class="w-full h-auto" src="/assets/cul-logo.png" alt="Columbia University Libraries logo" >
      </div>
      </div>
    </CardContent>
  </Card>
</div>
