<Map />

<PopUp>
  <PopUp::Header>
  <h1 class="text-2xl">Wandertext</h1>
  </PopUp::Header>

  <p>This application is currently under heavy development.</p>

  <p>You can follow along with the progress every Tuesday afternoon at 3pm NYC time <a class="underline" href="http://twitch.tv/culstudio">on Twitch</a>.</p>

  <p>Additionally, you can follow along with the code <a class="underline" href="http://github.com/wandertext/wandertext">on GitHub</a>.</p>

</PopUp>

<Fab 
  @icon="menu" />
