{{#let "Texts" as |title|}}
  {{page-title title}}
  <Header @icon="text" @title={{title}} />
  <div class="flex flex-row">
    <List @model={{@model}} @linkToRoute="texts.text" />
    {{outlet}}
  </div>
{{/let}}
