<div id="main" class="w-screen h-screen" tabindex="-1" role="main">
  <Card @classes="h-screen">
    <Toolbar @heading="Wandertext Workbench" @workbench="true"></Toolbar>
    <CardContent>
      {{ outlet }}
    </CardContent>
  </Card>
</div>
